<%= form_for [:admin, @slide] do |f| %>
  <%= render "layouts/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label :title, t(".title") %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :link, t(".link") %>
    <%= f.text_field :link, class: "form-control" %>
  </div>
  <div class="form-group">
    <span class="picture">
      <%= f.label :image, t(".image") %>
      <%= f.file_field :image%>
      <%= image_tag(@slide.image.url, class: "thumb") %>
    </span>
  </div>
  <%= f.button t(".save"), type: :submit, class: "btn btn-default" %>
  <%= f.button t(".reset"), type: :reset, class: "btn btn-default" %>
<% end %>
