<div class="container">
  <div id="content">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <h4><%= t "users.log_in" %></h4>
        <div class="space20">&nbsp;</div>
        <%= form_for :session do |f| %>
          <div class="form-block">
            <%= f.label :email, t(".email") %>
            <%= f.email_field :email %>
          </div>
          <div class="form-block">
            <%= f.label :password, t(".password") %>
            <%= f.password_field :password, class: "session_password" %>
            <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me, class: "remember_me" %>
              <span class="txt_rememeber_login"><%= t ".remember_login" %></span>
            <% end %>
          </div>
          <div class="google-login">
            <%= link_to t(".login-google"), "/auth/google_oauth2"  %>
          </div>
          <div class="form-block">
            <%= f.submit t(".btn_login"),
              class: "btn btn-lg btn-success btn-block" %>
          </div>
        <% end %>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>

