<div class="container">
  <div id="content">
    <form action="#" method="post" class="beta-form-checkout">
      <div class="row">
        <div class="col-sm-6">
          <h4><%= t "checkout.order" %></h4>
          <div class="space20">&nbsp;</div>
          <div class="form-block">
            <label for="name"><%= t "checkout.full_name" %></label>
            <input type="text" id="name" required>
          </div>
          <div class="form-block">
            <label><%= t "checkout.sex" %></label>
            <input id="gender" type="radio"
             class="input-radio" name="gender" value="male" checked="checked">
              <span style="margin-right: 10%"><%= t "checkout.male" %></span>
            <input id="gender" type="radio" class="input-radio" name="gender"
             value="female">
             <span><%= t "checkout.female" %></span>
          </div>
          <div class="form-block">
            <label for="email"><%= t "checkout.email" %></label>
            <input type="email" id="email">
          </div>
          <div class="form-block">
            <label for="adress"><%= t "checkout.address" %></label>
            <input type="text" id="adress" >
          </div>
          <div class="form-block">
            <label for="phone"><%= t "checkout.phone" %></label>
            <input type="text" id="phone" required>
          </div>
          <div class="form-block">
            <label for="notes"><%= t "checkout.note" %></label>
            <textarea id="notes"></textarea>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="your-order">
            <div class="your-order-head">
              <h5><%= t "checkout.your_order" %></h5>
            </div>
            <div class="your-order-body" style="padding: 0px 10px">
              <div class="your-order-item">
                <div>
                  <div class="media">
                    <%= link_to image_tag(Settings.URL_IMAGE+"sp1.jpg", class: "img_product" )%>
                    <div class="media-body">
                      <p class="font-large">Men's Belt</p>
                      <span class="color-gray your-order-info">
                        <%= t "checkout.color" %>: Red
                      </span>
                      <span class="color-gray your-order-info">
                        <%= t "checkout.size" %>: M
                      </span>
                      <span class="color-gray your-order-info">
                        <%= t "checkout.quantity" %>: 1
                      </span>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="your-order-item">
                <div class="pull-left"><p class="your-order-f18">
                  <%= t "checkout.money_total" %></p>
                </div>
                <div class="pull-right">
                  <h5 class="color-black">$235.00</h5>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="your-order-head">
              <h5><%= t "checkout.payments" %></h5>
            </div>
            <div class="your-order-body">
              <ul class="payment_methods methods">
                <li class="payment_method_bacs">
                  <input id="payment_method_bacs" type="radio"
                    class="input-radio" name="payment_method" value="COD"
                    checked="checked" data-order_button_text="">
                  <label for="payment_method_bacs"><%= t "checkout.COD" %></label>
                  <div class="payment_box payment_method_bacs"
                    style="display: block;"><%= t "checkout.send_goods" %>
                  </div>
                </li>
                <li class="payment_method_cheque">
                  <input id="payment_method_cheque" type="radio"
                    class="input-radio" name="payment_method" value="ATM" data-order_button_text="">
                  <label for="payment_method_cheque">
                    <%= t "checkout.transfer" %>
                  </label>
                  <div class="payment_box payment_method_cheque">
                    <%= t "checkout.pay_via_bank" %>
                    <br>- <%= t "checkout.my_account" %>
                    <br>- <%= t "checkout.account_holder" %>
                    <br>- <%= t "checkout.bank" %>
                  </div>
                </li>
              </ul>
            </div>
            <div class="text-center"><a class="beta-btn primary" href="#">
            <%= t "checkout.order" %><i class="fa fa-chevron-right"></i></a></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
