<div class="col-sm-3">
  <div class="single-item">
    <div class="single-item-header">
      <% image = product.images.present? ?
        product.images.first.image.url : "no_image.png" %>
      <%= link_to image_tag(image),
        product_path(product) %>
    </div>
    <div class="single-item-body">
      <p class="single-item-title"><%= product.name %></p>
      <p class="single-item-price">
        <span class="flash-del"><%= currency product.price %></span>
        <span class="flash-sale"><%= currency product.price %>
        </span>
      </p>
    </div>
    <div class="single-item-caption">
      <%= link_to add_to_cart_path(product),
        remote: true, method: :post, class: "add-to-cart pull-left" do %>
        <i class="fa fa-shopping-cart"></i>
      <% end %>
      <a class="beta-btn primary"
        <%= link_to t("products.details"), product_path(product) %>
        <i class="fa fa-chevron-right"></i></a>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
