<div class="container">
  <div id="content">
    <%= form_for @user, url: signup_path,
      html: {class: "beta-form-checkout"} do |f| %>
    <%= render "layouts/error_messages", object: f.object %>
    <%= f.hidden_field :role, value: "user" %>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <h4><%= t "users.sign_up" %></h4>
          <div class="space20">&nbsp;</div>
          <div class="form-block">
            <%= f.label :full_name, t("users.full_name")%>
            <%= f.text_field :full_name %>
          </div>
          <div class="form-block">
            <%= f.label :username, t("users.username") %>
            <%= f.text_field :username %>
          </div>
          <div class="form-block">
            <%= f.label :email, t("users.email") %>
            <%= f.email_field :email %>
          </div>
          <div class="form-block">
            <%= f.label :password, t("users.password") %>
            <%= f.password_field :password, class: "session_password" %>
          </div>
          <div class="form-block">
            <%= f.label :password_confirmation, t("users.re_password") %>
            <%= f.password_field :password_confirmation,
              class: "session_password" %>
          </div>
          <div class="form-block">
              <%= f.submit t("users.register"),
                class: "btn btn-primary btn_register" %>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
    <% end %>
  </div>
</div>
