<% provide :title, t(".title") %>
<div class="inner-header">
  <div class="container">
    <div class="pull-left">
      <h6 class="inner-title"><%= t ".title" %></h6>
    </div>
  </div>
</div>
<div class="container">
  <div id="content" class="space-top-none">
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav">
          <li>
            <%= link_to update_account_path(current_user) do %>
              <i class="fa fa-user"></i> <%= t ".information" %>
            <% end %>
          </li>
          <li>
            <%= link_to addresses_path do %>
              <i class="fa fa-address-book-o"></i> <%= t ".my_address" %>
            <% end %>
          </li>
          <li>
            <%= link_to orders_history_index_path do %>
              <i class="fa fa-history"></i> <%= t ".order_history" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
