<div class="container">
  <div id="content">
    <div class="table-responsive">
      <table class="shop_table beta-shopping-cart-table" cellspacing="0">
        <thead>
          <tr>
            <th class="product-name"><%= t "shopping_cart.product" %></th>
            <th class="product-price"><%= t "shopping_cart.price" %></th>
            <th class="product-status"><%= t "shopping_cart.status" %></th>
            <th class="product-quantity"><%= t "shopping_cart.quantity" %></th>
            <th class="product-subtotal"><%= t "shopping_cart.total" %></th>
            <th class="product-remove"><%= t "shopping_cart.remove" %></th>
          </tr>
        </thead>
        <tbody>
          <tr class="cart_item">
            <td class="product-name">
              <div class="media">
                <div class="media-body">
                  <p class="font-large table-title">Men’s Belt</p>
                  <p class="table-option">Color: Red</p>
                  <p class="table-option">Size: M</p>
                  <a class="table-edit" href="#">
                    <%= t "shopping_cart.edit" %></a>
                </div>
                <%= link_to image_tag(Settings.URL_IMAGE+"sp1.jpg", class: "img_product" )%>
              </div>
            </td>
            <td class="product-price">
              <span class="amount">$235.00</span>
            </td>
            <td class="product-status">
              <%= t "shopping_cart.in_stock" %>
            </td>
            <td class="product-quantity">
              <select name="product-qty" id="product-qty">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </td>
            <td class="product-subtotal">
              <span class="amount">$235.00</span>
            </td>
            <td class="product-remove">
              <a href="#" class="remove"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cart-collaterals">
      <div class="cart-totals pull-right">
        <div class="cart-totals-row"><h5 class="cart-total-title"><%= t "shipping_cart.cart_totals" %></h5></div>
        <div class="cart-totals-row"><span>
          <%= t "shopping_cart.cart_totals" %>
          </span> <span>$188.00</span></div>
        <div class="cart-totals-row"><span>
          <%= t "shopping_cart.shipping" %>
          </span> <span><%= t "shopping_cart.free_shipping" %></span></div>
        <div class="cart-totals-row"><span>
          <%= t "shopping_cart.order_total" %>
          </span> <span>$188.00</span></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <tfoot>
      <tr>
        <td colspan="6" class="actions">
          <button type="submit" class="beta-btn primary process-button" name="proceed">
            <%= link_to t("shopping_cart.process_checkout"), checkout_path %>
            <i class="fa fa-chevron-right"></i></button>
        </td>
      </tr>
    </tfoot>
    <div class="clearfix"></div>
  </div>
</div>
