<p>
  <label><%= t "full_name" %></label> <span><%= @address_first.full_name %></span>
</p>
<p>
  <label><%= t "email" %></label> <span><%= @address_first.user.email %></span>
</p>
<p>
  <label><%= t "post_code" %></label> <span><%= @address_first.post_code %></span>
</p>
<p>
  <label><%= t "city" %></label> <span><%= @address_first.city %></span>
</p>
<p>
  <label><%= t "country" %></label> <span><%= @address_first.country %></span>
</p>
<p>
  <label><%= t "phone" %></label> <span><%= @address_first.phone %></span>
</p>
