<tr class="odd gradeX center">
  <td><%= category.id %></td>
  <td><%= category.name %></td>
  <td><%= category.parent_id %></td>
  <td>
    <%= form_for [:admin, category] do |f| %>
    <%= f.check_box :active, data: {remote: true, method: :patch,
      url: admin_category_path(category)} %>
  <% end %>
  </td>
  <td class="center">
    <i class="fa fa-pencil fa-fw"></i>
    <%= link_to t("admin.edit"), edit_admin_category_path(category) %>
  </td>
  <td class="center">
    <i class="fa fa-trash-o fa-fw"></i>
    <%= link_to t("admin.delete"), admin_category_path(category),
      method: :delete, data: {confirm: t("admin.you_sure")} %>
  </td>
</tr>
