<tr class="odd gradeX center">
  <td><%= index_for_list @categories, category_counter %></td>
  <td><%= category.name %></td>
  <td>
    <%= check_box_tag "", category.active?, category.active?,
      class: "active_category active_category_#{category.id}",
      url: active_admin_category_path(category) %>
  </td>
  <td class="center">
    <i class="fa fa-pencil fa-fw"></i>
    <%= link_to t("admin.edit"), edit_admin_category_path(category) %>
  </td>
  <td class="center">
    <i class="fa fa-trash-o fa-fw"></i>
    <%= link_to t("admin.delete"), admin_category_path(category),
      method: :delete, data: {confirm: t(".you_sure")} %>
  </td>
</tr>
