<%= form_for [:admin, @category] do |f| %>
  <%= render "layouts/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label :name, t("admin.brands.edit.choose_name") %>
    <%= f.select(:name, options_from_collection_for_select(Category.all,
      :id, :name), {}, {class: "form-control"}) %>
  </div>
  <div class="form-group">
    <%= f.label :description, t("admin.brands.edit.description") %>
    <%= f.cktext_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name, t("admin.brands.edit.name") %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <%= f.button t("admin.save"), type: :submit, class: "btn btn-default" %>
  <%= f.button t("admin.reset"), type: :reset, class: "btn btn-default" %>
<% end %>

