<% provide :title, t("admin.list") %>
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header"><%= t "admin.product" %>
          <small><%= t "admin.list" %></small>
        </h1>
      </div>
      <div class="action_btn row col-lg-12">
        <%= form_tag admin_products_path, method: :get, id: "searchform" do %>
          <%= text_field_tag :search, params[:search], id: "searchtext",
            placeholder: t("admin.products.index.search_an_product"), require: true %>
          <%= button_tag type: :submit,id: "searchsubmit" do %>
          <i class ="fa fa-search"></i>
        <% end %>
        <% end %>
      </div>
       <div class="action_btn row col-lg-12">
        <%= link_to t(".add_new"), new_admin_product_url,
          class: "btn btn-default" %>
      </div>
      <table class="table table-striped table-bordered table-hover"
         id="dataTables-example">
        <thead>
          <tr align="center">
            <th><%= t ".name" %></th>
            <th><%= t ".quantity" %></th>
            <th><%= t ".category" %></th>
            <th><%= t ".brand" %></th>
            <th><%= t ".active" %></th>
            <th><%= t "admin.edit" %></th>
            <th><%= t "admin.delete" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "product", collection: @products, as: :product %>
        </tbody>
      </table>
      <%= paginate @products %>
    </div>
  </div>
</div>
