<div class="col-sm-3 remove_<%= product.id %>">
  <div class="single-item">
    <div class="single-item-header">
    <% if request.original_url.include? "wishlists" %>
      <%= link_to wishlist_path(product),
        remote: true, method: :delete,
        class: "beta-btn primary btn-remove-wislist" do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    <% end %>
    <% image = product.images.present? ?
      product.images.first.image.url : "no_image.png" %>
    <%= link_to image_tag(image),
      product_path(product) %>
    </div>
    <div class="single-item-body">
      <p class="single-item-title"><%= product.name %></p>
      <p class="single-item-price">
        <span class="flash-del">
          <% if product.discount < 0 %>
            <%= currency product.old_price %>
          <% end %>
        </span>
        <span class="flash-sale"><%= currency product.price %></span>
      </p>
    </div>
    <div class="single-item-caption">
      <%= link_to add_to_cart_path(product),
        remote: true, method: :post, class: "add-to-cart pull-left" do %>
        <i class="fa fa-shopping-cart"></i>
      <% end %>
      <%= link_to t("products.details"), product_path(product),
        class: "beta-btn primary" %>
      <% if logged_in? && !(request.original_url.include? "wishlists") %>
        <%= link_to product_wishlists_path(product),
          remote: true, method: :post, class: "beta-btn primary" do %>
          <i class="fa fa-heart-o"></i>
        <% end %>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
