<div class="col-sm-3">
  <div class="single-item">
    <div class="single-item-header">
    <% if product.images.present? %>
      <%= link_to image_tag(Settings.URL_IMAGE+product.images.first.image),
        product_path(product) %>
    <% end %>
    </div>
    <div class="single-item-body">
      <p class="single-item-title"><%= product.name %></p>
      <p class="single-item-price">
        <span class="flash-del">
          <% if product.discount < 0 %>
            <%= currency product.old_price %>
          <% end %>
        </span>
        <span class="flash-sale"><%= currency product.price %></span>
      </p>
    </div>
    <div class="single-item-caption">
      <%= link_to add_to_cart_path(product),
        remote: true, method: :post, class: "add-to-cart pull-left" do %>
        <i class="fa fa-shopping-cart"></i>
      <% end %>
      <%= link_to t("products.details"), product_path(product),
        class: "beta-btn primary" %>
      <i class="fa fa-chevron-right"></i>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

