<div class="container">
  <div id="content">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-4">
            <% image = @product.images.present? ?
              @product.images.first.image.url : "no_image.png" %>
            <%= link_to image_tag(image),
              product_path(@product) %>
          </div>
          <div class="col-sm-8">
            <div class="single-item-body">
              <p class="single-item-title custom-name-product">
                <%= @product.name %>
              </p>
              <p class="single-item-price">
                <span>
                  <% if @product.discount < 0 %>
                    <%= currency @product.old_price %>
                  <% end %>
                </span>
                <span><%= currency @product.price %> </span>
              </p>
            </div>
            <div class="clearfix"></div>
            <div class="space20">&nbsp;</div>
            <div class="single-item-desc">
              <p><%= @product.short_description.html_safe %></p>
            </div>
            <div class="single-item-options">
              <%= link_to add_to_cart_path(@product), remote: true,
                method: :post, class: "add-to-cart" do %>
                <i class="fa fa-shopping-cart"></i>
              <% end %>
              <% if logged_in? && !(request.original_url.include? "wishlists") %>
                <%= link_to product_wishlists_path(@product),
                  remote: true, method: :post, class: "beta-btn primary" do %>
                  <i class="fa fa-heart-o"></i>
                <% end %>
              <% end %>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="space40">&nbsp;</div>
        <div class="woocommerce-tabs box-tabs">
          <ul class="tabs">
            <li>
              <a active=".tab-description">
                <%= t "products.description" %>
              </a>
            </li>
            <li>
              <a active=".tab-reviews">
                <%= t "products.reviews" %>
              </a>
            </li>
          </ul>
          <div class="panel tab-description">
            <p><%= @product.long_description.html_safe %></p>
          </div>
          <div class="panel tab-reviews">
            <% if logged_in? %>
              <%= render "products/review_form" %>
            <% else %>
              <%= t ".need_login" %>
            <% end %>
            </div>
          <h3><%= t ".comment" %></h3>
          <div class="list-comments" id="show-comments">
            <p><%= render partial: "comment", collection: @comments %></p>
          </div>
          <div id="paginator">
            <%= paginate @comments, remote: true %>
          </div>
          <div id="create-comments">
            <p><%= t ".comment" %></p>
            <div class="form-submit-comment">
              <%= render "form_comment" %>
            </div>
          </div>
        </div>
        <div class="space50">&nbsp;</div>
      </div>
      <%= render "products/product_right_column" %>
      <div class="col-sm-12">
        <h6><%= t ".related_product" %></h6>
        <%= render partial: "index", collection: @related_product, as: :product %>
      </div>
    </div>
  </div>
</div>

