<div class="container">
  <div id="content">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-4">
            <%= link_to image_tag(Settings.URL_IMAGE+@product.images.first.image)%>
          </div>
          <div class="col-sm-8">
            <div class="single-item-body">
              <p class="single-item-title custom-name-product">
                <%= @product.name %></p>
              <p class="single-item-price">
                <span>$ <%= @product.promotion_price %> </span>
              </p>
            </div>
            <div class="clearfix"></div>
            <div class="space20">&nbsp;</div>
            <div class="single-item-desc">
              <p><%= @product.short_description %></p>
            </div>
            <div class="space20">&nbsp;</div>
            <p>Options:</p>
            <div class="single-item-options">
              <select class="wc-select" name="size">
                <option><%= t "checkout.size" %></option>
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
              </select>
              <select class="wc-select" name="color">
                <option><%= t "checkout.color" %></option>
                <option value="Red">Red</option>
                <option value="Green">Green</option>
                <option value="Yellow">Yellow</option>
                <option value="Black">Black</option>
                <option value="White">White</option>
              </select>
              <select class="wc-select" name="color">
                <option><%= t "checkout.quantity" %></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i></a>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="space40">&nbsp;</div>
        <div class="woocommerce-tabs">
          <ul class="tabs">
            <li><a href="#tab-description">
              <%= t "products.description" %></a>
            </li>
            <li><a href="#tab-reviews"><%= t "products.reviews" %></a></li>
          </ul>

          <div class="panel" id="tab-description">
            <p><%= @product.long_description %></p>
          </div>
          <div class="panel" id="tab-reviews">
            <p>No Reviews</p>
          </div>
        </div>
        <div class="space50">&nbsp;</div>
        <div class="beta-products-list">
          <h4><%= t "products.relate_product" %></h4>
          <div class="row">
            <div class="col-sm-4">
              <div class="single-item">
                <div class="single-item-header">
                  <%= link_to image_tag(Settings.URL_IMAGE+"sp3.jpg"), "#" %>
                </div>
                <div class="single-item-body">
                  <p class="single-item-title">Sample Woman Top</p>
                  <p class="single-item-price">
                    <span>$34.55</span>
                  </p>
                </div>
                <div class="single-item-caption">
                  <a class="add-to-cart pull-left" href="product.html"><i class="fa fa-shopping-cart"></i></a>
                  <a class="beta-btn primary" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 aside">
        <div class="widget">
          <h3 class="widget-title">Best Sellers</h3>
          <div class="widget-body">
            <div class="beta-sales beta-lists">
              <div class="media beta-sales-item">
                <%= link_to image_tag(Settings.URL_IMAGE+"sp2.jpg"), "#" %>
                <div class="media-body">
                  Sample Woman Top
                  <span class="beta-sales-price">$34.55</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="widget">
          <h3 class="widget-title">New Products</h3>
          <div class="widget-body">
            <div class="beta-sales beta-lists">
              <div class="media beta-sales-item">
                <a class="pull-left" href="product.html"><img src="assets/dest/images/products/sales/1.png" alt=""></a>
                <div class="media-body">
                  Sample Woman Top
                  <span class="beta-sales-price">$34.55</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
