<div class="container">
  <div id="content">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-4">
            <%= link_to image_tag(Settings.URL_IMAGE+
              @product.images.first.image) %>
          </div>
          <div class="col-sm-8">
            <div class="single-item-body">
              <p class="single-item-title custom-name-product">
                <%= @product.name %>
              </p>
              <p class="single-item-price">
                <span>
                  <% if @product.discount < 0 %>
                    <%= currency @product.old_price %>
                  <% end %>
                </span>
                <span><%= currency @product.price %> </span>
              </p>
            </div>
            <div class="clearfix"></div>
            <div class="space20">&nbsp;</div>
            <div class="single-item-desc">
              <p><%= @product.short_description.html_safe %></p>
            </div>
            <div class="single-item-options">
              <%= link_to add_to_cart_path(@product), remote: true,
                method: :post, class: "add-to-cart" do %>
                <i class="fa fa-shopping-cart"></i>
              <% end %>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="space40">&nbsp;</div>
        <div class="woocommerce-tabs box-tabs">
          <ul class="tabs">
            <li>
              <a active=".tab-description">
                <%= t "products.description" %>
              </a>
            </li>
            <li>
              <a active=".tab-reviews">
                <%= t "products.reviews" %>
              </a>
            </li>
          </ul>
          <div class="panel tab-description">
            <p><%= @product.long_description.html_safe %></p>
          </div>
          <div class="panel tab-reviews">
            <p>No Reviews</p>
          </div>
        </div>
        <div class="space50">&nbsp;</div>
        <h6><%= t ".related_product" %></h6>
        <%= render partial: "index", collection: @related_product, as: :product %>
      </div>
      <%= render "products/product_right_column" %>
    </div>
  </div>
</div>

