<div class="beta-comp">
  <div class="cart">
    <div class="beta-select">
      <i class="fa fa-shopping-cart"></i>
      <span class="qty-item-cart">
        <% if @count_product_cart %>
          <%= t "header.item", item: @count_product_cart %>
        <% else %>
          <%= link_to t("header.empty") %>
        <% end %>
      </span>
      <i class="fa fa-chevron-down"></i>
      <div class="beta-dropdown cart-body">
        <div class="cart-items"><%= render "layouts/item_cart" %></div>
        <div class="cart-caption">
          <div class="cart-total text-right"><%= t "header.total" %>
            <span class="cart-total-value">
              <%= number_to_currency(@total, unit: t("currency"),
                separator: ",") %>
            </span>
          </div>
          <div class="clearfix"></div>
          <div class="center">
            <div class="space10">&nbsp;</div>
            <%= link_to carts_path, class: "beta-btn primary text-center" do %>
              <%= t "header.viewcart" %>
              <i class="fa fa-chevron-right"></i>
            <% end %>
            <%= link_to checkouts_path, class: "beta-btn primary text-center" do %>
              <%= t "header.checkout" %>
              <i class="fa fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
