<div id="footer" class="color-div">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="widget">
            <h4 class="widget-title"><%= t ".instagram" %></h4>
            <div id="beta-instagram-feed">
              <ul>
                <% @instagram_data.each do |data| %>
                  <li>
                    <%= link_to image_tag(data.images.thumbnail.url), data.link %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="widget">
            <h4 class="widget-title"><%= t ".information" %></h4>
            <div>
              <ul>
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-chevron-right"></i>
                    <%= t ".hot" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-chevron-right"></i>
                    <%= t ".new" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-chevron-right"></i>
                    <%= t ".introduce" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-chevron-right"></i>
                    <%= t ".contact" %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
         <div class="col-sm-10">
          <div class="widget">
            <h4 class="widget-title"><%= t ".contact_us" %></h4>
            <div>
              <div class="contact-info">
                <i class="fa fa-map-marker"></i>
                <p><%= t "header.address_store" %></p>
                <p><%= t ".example" %></p>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="widget">
            <h4 class="widget-title"><%= t ".newsletter" %></h4>
            <form action="#" method="post">
              <input type="email" name="your_email">
              <button class="pull-right" type="submit"><%= t ".subscriber" %> <i class="fa fa-chevron-right"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
