<div id="header">
  <div class="header-top">
    <div class="container">
      <div class="pull-left auto-width-left">
        <ul class="top-menu menu-beta l-inline">
          <li><a href=""><i class="fa fa-home"></i>
            <%= t "header.address_store" %></a></li>
          <li><a href=""><i class="fa fa-phone"></i>
            <%= t "header.hot_line" %></a></li>
        </ul>
      </div>
      <div class="pull-right auto-width-right">
        <ul class="top-details menu-beta l-inline">
          <% if logged_in? %>
            <li>
              <span>
                <%= t "header.hello", full_name: current_user.full_name %>
              </span>
            </li>
            <li>
              <%= link_to my_account_path do %>
                <i class="fa fa-user"></i>
                <%= t "header.account" %>
              <% end %>
            </li>
            <li><%= link_to t("header.logout"), logout_path %></li>
            <li><%= link_to t("header.wishlist"), wishlists_path %></li>
          <% else %>
            <li><%= link_to t("header.log_in"), login_path %></li>
            <li><%= link_to t("header.sign_up"), signup_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="header-body">
    <div class="container beta-relative">
      <div class="pull-left">
        <%= link_to image_tag(Settings.URL_IMAGE+"logo.png",
          alt: "logo",class: "logo"), root_path %>
      </div>
      <div class="pull-right beta-components space-left ov">
        <div class="space10">&nbsp;</div>
        <div class="beta-comp">
          <span class="btn-search"><i class="fa fa-search"></i></span>
          <%= search_form_for @search, url: search_path do |f| %>
            <div class="form-group">
              <div class="name_contain">
                <%= f.label :name_or_short_description_or_long_description_cont,
                  t("header.name") %>
                <%= f.text_field :name_or_short_description_or_long_description_cont,
                  class: "form-control" %>
              </div>
              <div class="price">
                <%= f.label :price_gteq, t("header.from_price") %>
                <%= f.text_field :price_gteq, class: "form-control" %>
              </div>
              <div class="price">
                <%= f.label :price_lteq, t("header.to_price") %>
                <%= f.text_field :price_lteq, class: "form-control" %>
              </div>
            </div>
            <%= f.submit t("header.btn_search"), class: "btn btn-default search-btn" %>
          <% end %>
        </div>
        <%= render "layouts/block_cart" %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
