<% if @products_cart.present? %>
  <% @products_cart.each do |product, quantity| %>
  <div class="cart-item">
    <div class="media">
      <% image = product.images.present? ?
        product.images.first.image.url : "no_image.png" %>
      <%= link_to image_tag(image),
        product_path(product), class: "pull-left" %>
      <div class="media-body">
        <span class="cart-item-title"><%= product.name %></span>
        <span class="cart-item-amount">
          <span class="cart-item-quantity-<%= product.id %>">
            <%= t "item_cart.x", quantity: quantity %>
          </span>
          <span>
            <%= currency product.price %>
          </span>
        </span>
      </div>
      <div class="remove-item pull-right">
        <%= link_to remove_cart_path(product), remote: true, method: :post,
          class: "icon-remove-cart" do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
