<div class="header-bottom" style="background-color: #0277b8;">
  <div class="container">
    <nav class="main-menu">
      <ul class="l-inline ov">
        <li><%= link_to t("nav.home"), root_path %></li>
        <li><%= link_to t("nav.categories"), categories_path %></li>
        <li><%= link_to t("nav.brands"), brands_path %></li>
        <li><%= link_to t("nav.hot"), hot_products_path %></li>
        <li><%= link_to t("nav.new"), new_products_path %></li>
        <li><%= link_to t("nav.introduce"), about_path %></li>
        <li><%= link_to t("nav.contact"), contact_path %></li>
      </ul>
      <div class="clearfix"></div>
    </nav>
  </div>
</div>
